.common {
  background-color: #3FC1C9;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0,0,0,.26);
  display: flex;
  flex: 1 1 0px;
  min-height: 200px;
  padding: 25px;
  width: 100%;
}

.columnLayout {
  composes: common;
  flex-direction: column;
}

.rowLayout {
  composes: common;
  flex-direction: row;
}
