html,
body,
body > * {
  height: 100%;
}

.app {
  background-color: #364F6B;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background: #FC5185;
  box-shadow: 0 5px 10px rgba(0,0,0,.54);
  height: 128px;
}

.main {
  flex: auto;
  padding: 10px;
}

.row {
  display: flex;
  margin: 0 auto;
  max-width: 760px;
}

.container {
  display: flex;
  flex: 1 1 0px;
  margin: 10px;
}
